doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css") 
  body
    nav
      li
        div.arrow
          i(class="fa fa-folder-o")
        a(href='practica-1') PRACTICA 1
      li
        div.arrow
          i(class="fa fa-folder-o")
        a(href='practica-2') PRACTICA 2
      li
        div.arrow
          i(class="fa fa-folder-o")
        a(href='practica-3') PRACTICA 3
      li
        div.arrow
          i(class="fa fa-folder-o")
        a(href='practica-4') PRACTICA 4
      li
        div.arrow
          i(class="fa fa-folder-o")
        a(href='practica-5') PRACTICA 5
      li
        div.arrow
          i(class="fa fa-folder-o")
        a(href='practica-6') PRACTICA 6
      li
        div.arrow
          i(class="fa fa-folder-o")
        a(href='practica-7') PRACTICA 7
      li
        div.arrow
          i(class="fa fa-folder-o")
        a(href='practica-8') PRACTICA 8
    block content
    footer
      