extends layout

block content
	div#practica-2
		h1 Detalles de actividad: 

		p
			span Elaborar un Resumen respecto a la Leccion No3. del Curso de HTML de MSDN 
			a(href="https://msdn.microsoft.com/es-es/ie/hh749022") https://msdn.microsoft.com/es-es/ie/hh749022
		h4 El cual ademas de este, debe de incluir y responder las siguientes preguntas:
		div#preguntas
			p  1.- ¿Que es un CSS?
				p.in Es una hoja de estilos que nos permite aplicar formato a los diferentes elementos de una pagina web, estos son totalmente costumizables y nos permiten hacer que la pagina web sea mejor visiblemente, asi como agrupar los elementos de mejor manera.
			p  2.- ¿Para que sirve un CSS?
				ul.in
					li Aplicar estilos a los elementos de una pagina.
					li Agrupar los elementos deacuerdo a las necesidades de la pagina web.
			p  3.- ¿Cual es la diferencia que seria mas difícil de realizar en un sitio web si se optara por no usar un CSS?.
				p.in Los elementos estarian incompletos y no se mostrarian de forma adecuada, el usuario se perderia al momento de navegar y no se definiria un layout para la pagina.

			h1  Resumen
 
			
			p.resumen Esta leccion abarca los principales conceptos de css, se nos enseño como aplicar los estilos de cascada en las paginas web utilizando un ejemplo de una pagina con un width estatico.

			p.resumen A su vez tambien vimos como poder actualizar los estilos de los elementos, que pasa con los multiples valores que podemos agregar, para que sirven y como se muestran en la pagina web, tambien es importante que se menciona en alguna parte de la leccion que no siempre se utilizaran los mismos estilos y para un problema puede haber mas de 1 solucion.	

			p.resumen Tambien se vio como los elementos de HTML tienen ya ciertas propiedades definidas como el margin y padding para cada elemento, y existe una tecnica para hacer un "reset" de todas estas opciones.

		div#div-1
			p float left
		div#div-2
			p float left
		div#div-3
			p example of float right
		div#footer
			p example of clear both